In [162]:
import pandas as pd
import numpy as np
import json
import glob
import os

'''
This script concatenates all individual yearly files extracted by `opendatabcn_accidents_collector.py` and produces a unified .json file with all the extracted accidents information, then exports it to the persistent landing zone.
Args:
    (none)
Returns:
    (.json) accidents_opendata.json - .json file containing all extracted data opendatabcn-accidents
'''

path = r'landing/temporal/opendatabcn-accidents/'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename)
    li.append(df)

df = pd.concat(li, axis=0, ignore_index=True)

#df.to_json('landing/persistent/accidents_opendata/accidents_opendata.json')
df.to_csv('accidents_opendatabcn.csv', index=False)

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110655 entries, 0 to 110654
Data columns (total 62 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Número d expedient            10009 non-null  object
 1   Codi districte                56285 non-null  float64
 2   Nom districte                 56285 non-null  object
 3   Codi barri                    10008 non-null  float64
 4   Nom barri                     56285 non-null  object
 5   Codi carrer                   56285 non-null  float64
 6   Nom carrer                    56285 non-null  object
 7   Num postal caption            56285 non-null  object
 8   Descripció dia setmana        56286 non-null  object
 9   Dia setmana                   10008 non-null  object
 10  Descripció tipus dia          56285 non-null  object
 11  NK Any                        56285 non-null  float64
 12  Mes de any                    56285 non-null  float64
 13  Nom mes                       56285 non-null  object
 14  Dia de mes                    56285 non-null  float64
 15  Hora de dia                   56285 non-null  float64
 16  Descripció torn               56286 non-null  object
 17  Descripció causa vianant      56285 non-null  object
 18  Número de morts               56285 non-null  float64
 19  Número de lesionats lleus     56285 non-null  float64
 20  Número de lesionats greus     56285 non-null  float64
 21  Número de víctimes            56285 non-null  float64
 22  Número de vehicles implicats  56285 non-null  float64
 23  Coordenada UTM (Y)            56285 non-null  object
 24  Coordenada UTM (X)            56285 non-null  object
 25  Numero_expedient              54369 non-null  object
 26  Codi_districte                54369 non-null  float64
 27  Nom_districte                 54369 non-null  object
 28  Codi_barri                    54369 non-null  object
 29  Nom_barri                     54369 non-null  object
 30  Codi_carrer                   54369 non-null  float64
 31  Nom_carrer                    54368 non-null  object
 32  Num_postal_caption            23954 non-null  object
 33  Descripcio_dia_setmana        54369 non-null  object
 34  NK_Any                        23954 non-null  float64
 35  Mes_any                       54369 non-null  float64
 36  Nom_mes                       54369 non-null  object
 37  Dia_mes                       54369 non-null  float64
 38  Hora_dia                      54369 non-null  float64
 39  Descripcio_torn               54369 non-null  object
 40  Descripcio_causa_vianant      54369 non-null  object
 41  Numero_morts                  54369 non-null  float64
 42  Numero_lesionats_lleus        54369 non-null  float64
 43  Numero_lesionats_greus        54369 non-null  float64
 44  Numero_victimes               54369 non-null  float64
 45  Numero_vehicles_implicats     54369 non-null  float64
 46  Coordenada_UTM_Y_ED50         7659 non-null   float64
 47  Coordenada_UTM_X_ED50         7659 non-null   float64
 48  Longitud_WGS84                7635 non-null   float64
 49  Latitud_WGS84                 7635 non-null   float64
 50  Número d'expedient            46277 non-null  object
 51  NK barri                      46277 non-null  object
 52  Dia de setmana                46277 non-null  float64
 53  Dia_setmana                   46710 non-null  object
 54  Descripcio_tipus_dia          46710 non-null  object
 55  Coordenada_UTM_Y              46710 non-null  object
 56  Coordenada_UTM_X              46710 non-null  object
 57  Longitud                      46710 non-null  float64
 58  Latitud                       46710 non-null  float64
 59  Num_postal                    20474 non-null  object
 60  Any                           30415 non-null  float64
 61  Num_postal                    5138 non-null   object
dtypes: float64(31), object(31)
memory usage: 52.3+ MB